
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    // Rules for the 'divisions' collection.
    // Public can read, authenticated users can write.
    match /divisions/{divisionId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    match /divisions {
        allow list: if true;
    }

    // Rules for the 'berita_acara' collection.
    // Public can read, authenticated users can write.
    match /berita_acara/{beritaAcaraId} {
      allow get: if true;
      allow write: if isSignedIn();
    }
    match /berita_acara {
      allow list: if true;
    }

    // Rules for the 'users' collection.
    // Only authenticated users can access anything in this collection.
    // An individual user can only write to their own document.
    match /users/{userId} {
      allow get: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
    match /users {
        allow list: if isSignedIn();
    }
  }
}
